.wrapper {
  margin: 0 auto;
  max-width: 43.75rem;
}

.title {
  display: flex;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  line-height: 3;
  /* text-align: center; */
  border-bottom: 1px solid #dce1e5;
}

input {
  opacity: 0;
  z-index: -1;
  display: none;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: #000000;
  background: white;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #dce1e5;
}
/* cross */
.tab-cross {
  content: '+';
  font-size: 1rem;
  color: #000000;
  float: right;
  margin-left: 0.3rem;
  opacity: 0;
  text-align: center;
  transition: all 0.5s;
}
/* text */
.tab-text {
  color: RGB(0, 89, 217);
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.5s;
}

.wrapper:hover .tab-cross {
  opacity: 1;
  transition: all 1s;
}
.wrapper:hover .tab-text {
  color: #000000;
  transition: all 0.5s;
}
.wrapper:hover input:checked + .tab-text {
  color: #000000;
  transition: all 0.5s;
}

input:checked + .tab-cross {
  transform: rotate(45deg);
  color: #000000;
  transition: all 0.5s;
}
.wrapper input:checked + .tab-text {
  color: #000000;
}
.tab-content {
  display: flex;
  justify-content: center;
  max-height: 0;
  padding: 0 1em;
  color: #000000;
  background: white;
  transition: all 0.5s;
}

input:checked::after {
  transform: rotate(90deg);
  transition: all 0.5s;
}
input:not(:checked) ~ .tab-content {
  transition: all 0.5s;
  display: none;
}
input:hover ~ .tab-content {
  transition: all 0.5s;
  display: flex;
  max-height: 100vh;
  padding: 1em;
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
  transition: all 0.5s;
}

.tab-img {
  max-width: 18.75rem;
  max-height: 25rem;
  object-fit: cover;
  animation-name: Appearance;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 2);
}
@keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 400px) {
  .tab-text {
    font-size: 0.9rem;
  }
  .tab-text::after {
    font-size: 0.9rem;
  }
}
